[submodule "person-rest"]
	path = person-rest
	url = https://github.com/LinaAnule/person-rest.git
[submodule "Shape_Area_Calculator"]
	path = Shape_Area_Calculator
	url = https://github.com/LinaAnule/Shape_Area_Calculator.git
[submodule "java-basics"]
	path = java-basics
	url = https://github.com/LinaAnule/java-basics.git
[submodule "student-application"]
	path = student-application
	url = https://github.com/LinaAnule/student-application.git
[submodule "collections-labs"]
	path = collections-labs
	url = https://github.com/LinaAnule/collections-labs.git
[submodule "Java-API-tasks"]
	path = Java-API-tasks
	url = https://github.com/LinaAnule/Java-API-tasks.git
